$principal: #333;
$green: #63b461;
$green-botton: #8bdd8a;
$yellow: #ffda9e;
$white: #fff;
$gray: rgba(44, 49, 49, 0.329);

$font-family: 'Montserrat', sans-serif;
$font-title: 'pacifico', cursive;
$font-text: 1.3em;
$font-items: 1em;
$font-title: 5em;
$font-subtitle: 2em;

$shadowTitle: rgba(51, 51, 51, 0.426);
$shadowBox1: 1px 1px 10px #000;
$shadowBox2: 1px 1px 10px #333;